In [12]:
import yaml
from pandas import DataFrame
import functions_imported_tree as fi
from functions_imported_tree import ColumnDataSource, TableColumn, DataTable, figure, CustomJS, row, show
import pandas as pd
import tree_maker as tm
import pandas_skeleton as ps

In [13]:
root = tm.tree_from_json(filename='/home/HPC/hgraham/hamish_example/study_001/tree.json')

In [14]:
ps.create_tree(root)

In [15]:
x_values, y_values, path = ps.create_xypath(root)

In [16]:
my_colors = ps.create_color(root)

In [21]:
my_df = ps.create_df(root, path, x_values, y_values, my_colors)
aux=my_df[['name','status','path']]
aux

    name  status     path
0   root  cloned
1    000    None      000
2    000    None  000/000
3    001    None  000/001
4    002    None  000/002
5    001    None      001
6    000    None  001/000
7    001    None  001/001
8    002    None  001/002
9    002    None      002
10   000    None  002/000
11   001    None  002/001
12   002    None  002/002
13   003    None      003
14   000    None  003/000
15   001    None  003/001
16   002    None  003/002
17   004    None      004
18   000    None  004/000
19   001    None  004/001
20   002    None  004/002

In [22]:
aux[(aux.status == 'cloned')]

   name  status path
0  root  cloned